<div class="container my-4">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['./clientmakeDeposit']">Make Deposit</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['./clientmakeWithdrawal']">Make Withdrawal</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['./clientmakeTransfer']">Make Transfer</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['./clientaccountDetails']">Account Details</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['./clientrecordTransactions']">Transaction Records</a>
          </li>
        </ul>
      </div>
    </nav>
    </div>
    
    <div class="container">
      <div class="row">
          <router-outlet></router-outlet>
      </div>
    </div>