<!-- Search client box added here -->
<div class="container">
    <app-clientsearch></app-clientsearch>
    <form>
        <div class="form-group my-4">
          <label for="firstnamelbl">Firstname</label>
          <input type="text" class="form-control form-control-lg" id="firstnamelbl" readonly>
        </div>
      
       <div class="form-group my-4">
          <label for="lastnamelbl">Lastname</label>
          <input type="text" class="form-control form-control-lg" id="lastnamelbl" readonly>
        </div>
      
       <div class="form-group my-4">
          <label for="emaillbl">Email</label>
          <input type="email" class="form-control form-control-lg" id="emaillbl" readonly>
        </div>
      
       <div class="form-group my-4">
          <label for="contactlbl">Contact</label>
          <input type="text" class="form-control form-control-lg" id="contactlbl" readonly>
        </div>
       
        <button type="submit" class="btn btn-primary mr-3">View Client</button>
      <button type="reset" class="btn btn-primary">Clear</button>
      </form>
</div>

