<div class="container my-4">
    <form>
        <div class="form-group my-4">
          <label for="firstnamelbl">Firstname</label>
          <input type="text" class="form-control form-control-lg" id="firstnamelbl" placeholder="Firstname">
        </div>
      
       <div class="form-group my-4">
          <label for="lastnamelbl">Lastname</label>
          <input type="text" class="form-control form-control-lg" id="lastnamelbl" placeholder="Surname">
        </div>
      
       <div class="form-group my-4">
          <label for="emaillbl">Email</label>
          <input type="email" class="form-control form-control-lg" id="emaillbl" placeholder="Email">
        </div>
      
       <div class="form-group my-4">
          <label for="contactlbl">Contact</label>
          <input type="text" class="form-control form-control-lg" id="contactlbl" placeholder="Firstname">
        </div>
       
        <button type="submit" class="btn btn-primary mr-4">Register Client</button>
      <button type="reset" class="btn btn-primary">Clear</button>
      </form>
</div>